@charset "utf-8";

/* Web Font */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
}

/* Reset Style */
* {
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body,
div,
ul,
li,
a,
img,
h2 {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: top;
}

/* Blind 숨김처리 */
.blind {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

/* Body Style */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
button,
textarea {
  font-family: "Noto Sans KR", sans-serif;
}
button {
  cursor: pointer;
}

/* 링크 기본스타일 사용 */
.link {
  text-decoration: none;
  color: #222;
}

textarea {
  all: unset;
  resize: none;
  overflow: hidden;
  resize: none;
}

.btn {
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: #169bd5;
}

input, textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
}
