.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 100%;
  border-bottom: 1px solid #27262642;
}

.main-img {
  width: 120%;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 12px;
}

.gnb {
  color: #666;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.25px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100%;
}

.gnb {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.user_info {
  display: flex;
  align-items: center;
}

.q-drawer {
  width: 250px;
}

.q-btn {
  margin: 0 5px;
}
